@import "tailwindcss";
.form {
    background-image: url(/public/loginBackgroundimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
}

.loginpage {
    max-width: 100%;
    background: linear-gradient(-45deg, #667eea, #764ba2, #6bcbef, #a17fe0);
    background-size: 400% 400%;
    position: relative;
    height: 100%;
}

.loginpage {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #667eea, #764ba2, #6bcbef, #a17fe0);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    animation: gradientShift 10s ease infinite;
}